




/**/
:root {
    /*    色設定    */
    /* 背景色 */
    --all-color         : #002E1F;
    /* 入力欄周り */
    --menu-color        : #013205;
    /* スクロールバーのスライダー */
    --scrollbar-color   : #015C08;
    /* 投稿文字色 */
    --article-color     : #dcdcdc;


    /*    絵文字パレット設定    */
    /* パレットの幅 */
    --ColorPalette-Width     : 499px;
    /* パレットの高さ */
    --ColorPalette-Height    : 470px;
    --ColorPalette-MaxHeight : 80vh;
    /* パレット内のスタンプの大きさ */
    --ColorPalette-StampSize : 40px;
    /* パレットを展開する位置(左上基準 X,Y ) うかどんのみ。*/
    --ColorPalette-Translate : translate( 10px , 10px ) ;

}



/* {{{ 色設定周り */

/*全体*/
body {
    background: var(--all-color) !important;
}


/*スクロールバー*/
::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background: var(--scrollbar-color) !important;
}


/*入力枠メニュー*/
.drawer__header {
    background: var(--menu-color) !important;
}


/*文字色を変更したい。*/
.status__content {
    color: var(--article-color) !important;
    /*color: #dcdcdc !important;*/
}


/*メニューアイコンカラー*/
/*
.drawer__tab {
    color: var(--icon-color) !important;
}*/


/*検索窓*/
.search__input {
    /*背景*/
    /*文字色*/
    /*
    background: var(--menu-color) !important;
    color: var(--icon-color) !important;
    */
}


/*プロフィール*/
.drawer__inner {
    /*背景*/
    background: var(--menu-color) !important;
}


/*プロフィール余白*/
.drawer__inner__mastodon {
    background: var(--menu-color) !important;
}
/* 色設定周りここまで }}}*/

/* 絵文字周りの使用を便利にする。 {{{*/
/*枠の大きさ。*/
section.emoji-mart-light {
    width: var(--ColorPalette-Width) !important
}


/*スクロール枠を適当に調整。*/
.emoji-mart-scroll {
    height     : var(--ColorPalette-Height)    !important;
    max-height : var(--ColorPalette-MaxHeight) !important;
}


/*絵文字アイコン*/
button.emoji-mart-emoji > img {
    width : var(--ColorPalette-StampSize) !important;
    height: var(--ColorPalette-StampSize) !important;
}


.emoji-picker-main {
    transform: var(--ColorPalette-Translate) !important;
    /* transform: translateY( 0% ) !important; */
}
/* 絵文字パレットここまで }}} */

